# xcode noise
build/*
*.pbxuser
*.mode1v3
DerivedData/*
# old skool
.svn

# osx noise
*.DS_Store
*.com.apple.timemachine.supported
profile

# autotool
autom4te.cache
config.status
config.log

# project related
doc/*
obj/*
run/libwired/*
*.o
